<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
                <div>
                    <a href="#" th:href="@{/admin/tag/add}"
                       class="btn btn-primary" role="button">태그 등록</a>
                </div>
                <tr>
                    <th>#</th>
                    <th>태그이름</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tag : ${tags}">
                    <td th:text="${tag.tagId}"></td>
                    <td th:text="${tag.tagName}"></td>

                    <td>
                        <a href="#"
                           class="btn btn-primary" role="button">수정</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>