@charset "utf-8";

.footer {
    padding: var(--pad-md);
    border-top: 1px solid var(--c-black-admin);
    line-height: 1.7em;
    color: #757575;
    font-size: 0.925rem;
    position: relative;
}
.secretBtn {position: absolute; right: 0; background: none; color: #37394D; cursor: pointer;z-index: 9;}