@charset "utf-8";
.errorpage p {color: #fff;}
.body {
  min-height: calc(100vh - 6.957rem);
  padding-top: 5rem;
}
.dashboxWrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc((100% - 1.125rem) / 2), auto));
  grid-auto-rows: minmax(100px, auto);
  gap: 1.125rem;
  padding: var(--pad-sm);
}

/* 위로가기 버튼 */
.topbtn {
  display: none;
  position: fixed;
  z-index: 1;
  right: 3vw;
  bottom: 18vh;
  padding: var(--pad-sm);
  background: #fff;
  color: var(--sub-color-2);
  border-radius: 100%;
  box-shadow: var(--box-shadow);
  transition: 0.3s;
}
.topbtn.show {display: block;}

/**************************************************************/
/**************************************************************/
/********************** basic box setting *********************/
/**************************************************************/
/**************************************************************/
.dashbox {
  background: #ffffff22;
  border-radius: var(--radius-all-sm);
}
.dashbox .dashtit {
  display: flex; justify-content: space-between; align-items: center;
  padding: 1.25rem 1.25rem 1.05rem 1.75rem;
  border-bottom: 1px solid #ffffff22;
  color: #fff;
}
.dashbox .dashtit h2 {
  font-size: 1.15rem;
  font-weight: 400;
  flex-grow: 1;
}
.dashbox .dashtit .moreBtn { background: none; }
.dashbox .dashtit .moreBtn span { color: #fff; }
.dashbox .dashcont {
  padding: var(--pad-sm);
}

/**************************************************************/
/**************************************************************/
/********************* basic table setting ********************/
/**************************************************************/
/**************************************************************/
.tableWrap {padding: var(--pad-sm);}
.tableWrap>a {max-width: 180px; float: right; margin-bottom: 1rem; font-weight: 500;}
.tbScroll {
  overflow-x: auto;
  width: 100%;
}
.table {
  width: 100%;
  min-width: 480px; 
  border-collapse: collapse;
  line-height: 1.5em;
  text-align: center;
  color: var(--txt-color-wht);
  width: 100%;
  overflow: hidden;
  border-radius: var(--radius-all-sm);
}
.table_min {
  min-width: 280px;
}
.table th {
  background: var(--sub-color-2);
  color: #fff;
  padding: 20px;
  font-weight: 400;
}
.table tbody tr {
  background: var(--bg-color-3);
}
.table tbody tr:nth-child(odd) {
  background: var(--bg-color-4);
}
.table td {
  padding: 14px;
  color: var(--txt-color);
  vertical-align: middle;
  background: none;
}
.table tr, .table th, .table td {
  border-bottom: 0 !important;
}
.table th:last-child, .table td:last-child {
  border-right: 0;
}
.table .cont {
  text-align: left;
  word-break: keep-all;
}
.table .tdIcon img {max-width: 2rem; max-height: 2rem;}
.table .tdBtn button {margin-right: 0.75rem; min-width: 5rem;}
.table .tdBtn button:last-child {margin: 0;}
.tbSm .table th {padding: 14px; font-size: 0.938rem;}
.tbSm .table td {padding: 10px; font-size: 0.875rem;}
/**************************************************************/
/**************************************************************/
/************************animate setting **********************/
/**************************************************************/
/**************************************************************/
.adminLayout .ani {
  /* z-index: -1; */
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
}
.adminLayout .ani .ani06 {
  display: block;
  /* background: url('/images/common/animateBG-01.svg') center center no-repeat; */
  position: absolute;
  right: -5rem;
  top: -5rem;
  animation: rotate 20s infinite linear;
  width: 40vw;
  aspect-ratio: 1/1;
}
.adminLayout .ani .ani08 {
  display: block;
  /* background: url('/images/common/animateBG-02.svg') center center no-repeat; */
  position: absolute;
  left: -8rem;
  bottom: -8rem;
  animation: updown02 5s ease-in-out infinite;
  width: 30vw;
  aspect-ratio: 1/1;
  opacity: 0.8;
}
.adminLayout .ani .ani00 {
  display: block;
  /* background: url('/images/common/animateBG-03.svg') center center no-repeat; */
  position: absolute;
  right: 15vw;
  top: 20vh;
  animation: updown 5s ease-in-out infinite;
  width: 20vw;
  aspect-ratio: 1/1;
}

@keyframes updown02 {
  0%{
    transform: translate(0,0);
  }
  50%{
    transform: translate(0,20px);
  }
  100%{
    transform: translate(0,0);
  }
}


@keyframes updown {
  0%{
    transform: translate(0,0);
  }
  50%{
    transform: translate(0,-20px);
  }
  100%{
    transform: translate(0,0);
  }
}


@keyframes rotate {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(-360deg);
  }
}