@charset "utf-8";

.home {
    min-height: 80vh;
    padding: 2rem 0;
}
.section {
    margin-top: 3.5rem;
}
.section .tit {
    font-size: 1.5rem;
    color: var(--txt-color);
    font-weight: 600;
}
.section .tit span {vertical-align: baseline;}
.box {
    width: 100%;
    background: var(--bg-color-2);
    display: flex;
    gap: 1rem;
    border-radius: var(--radius-all-md);
    box-shadow: 0 6px 15px 1px rgba(0,0,0,.09);
    /* box-shadow: var(--box-shadow); */
    transition: all .3s ease;
    margin-top: 2rem;
    padding: 1.5rem 0 1.25rem;
    justify-content: space-evenly;
}
/* .box:hover {
    transform: translateY(-5px);
    box-shadow: 4px 12px 20px 6px rgba(0,0,0,.18);
} */
.category {cursor: pointer; transition: all .3s ease; text-align: center;}
.category:hover {transform: translateY(-5px);}
.category img {
    width: 2.5rem;
}
.category p {font-size: 1rem; font-weight: 600; color: var(--txt-color); text-align: center; margin-top: 1rem;}
.home .section:last-child {margin-bottom: 1rem;}


@media screen and (max-width:800px) {
    .home {padding-top: 3rem;}
    .section .tit {font-size: 1.325rem; line-height: 1.4em;}
    .section {margin-top: 2.5rem;}
    .box {margin-top: 1.5rem; padding: 1.125rem 1.25rem; overflow-x: auto; justify-content: flex-start; border-radius: var(--radius-all-xs);}
    /* .category {width: calc((100% - 4rem) / 5);} */
    /* 수평 스크롤바 커스터마이징 */
    .box::-webkit-scrollbar {
        height: 6px;
    }
    .box::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    .box::-webkit-scrollbar-thumb {
        background: var(--sub-color-5);
        border-radius: 6px;
    }
    .box::-webkit-scrollbar-thumb:hover {
        background: var(--sub-color-4);
    }
    .category {min-width: 50px;}
    .category img {width: 1.75rem;}
    .category p {margin-top: 0.5rem;}
}

@media screen and (max-width:480px) {
    /* .category {width: calc((100% - 3rem) / 4);} */
}