@charset "utf-8";

.pagewrapPd {padding: 4rem 0;}
.starrating {display: flex;}
.starrating span {color: var(--sub-color-5);}
.starrating .starActive {color: var(--sub-color);}
.starrating .starInActive {color: var(--sub-color-3);}
.starrating .editStar {cursor: pointer; transition: 0.3s;}
.starrating .editStar:hover {color: var(--sub-color);}

/* 섹션레이아웃 */
.section .tit {
  font-size: 1.5rem;
  color: var(--txt-color);
}
.section:last-child {margin-bottom: 2rem;}
.categorysection {display: flex; gap: 4rem; justify-content: space-between; padding-bottom: 4rem;}
.categorysection .left {width: 12rem; padding: 2rem 2rem 4rem 0.5rem; border-right: 1px solid var(--c-black-6);}
.categorysection .right {width: calc(100% - 22rem); }

/* 아이템리스트 */
.itemlist {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.itemlist .item {
  width: calc((100% - 6em) / 4);
  overflow: hidden;
  cursor: pointer;
}
.itemlist .item .img {
  /* height: 10rem; */
  aspect-ratio: 1/1;
  border-radius: var(--radius-all-sm);
  overflow: hidden;
}
.itemlist .item .img img {width: 100%; height: 100%; object-fit: cover; transition: all .5s ease;}
.itemlist .item:hover .img img {
  transform: scale(1.05);
}
.itemlist .item .txt {
  background: var(--bg-color);
  padding: 1rem 0.25rem 0;
  position: relative;
  z-index: 1;
}
.itemlist .item .txt h3 {font-size: 1.125rem; color: var(--txt-color); font-weight: 600;}
.itemlist .item .tag {display: flex; gap: 0.5rem; margin-top: 1rem; flex-wrap: wrap;}
.itemlist .item .tag p {
  background: var(--bg-color-2);
  color: var(--txt-color);
  padding: 0.125rem 0.5rem;
  font-size: 0.925rem;
  border-radius: 6px;
}

/* 좌측 카테고리 */
.categorysection .left .category { width: 100%; background-color: var(--bg-color); top: 5rem;}
.categorysection .left .category .depths {display: flex; gap: 0.75rem; margin-top: 1.25rem; color: var(--txt-color);}
.categorysection .left .category .depths:first-child {margin: 0;}
.categorysection .left .category .depths img {width: 1.125rem; transition: 0.3s;}
.categorysection .left .category .depths:hover img { margin-top: -6px;}
.categorysection .left .category .depths p {font-size: 1rem; font-weight: 400; color: var(--txt-color-2);}

/* 디테일페이지 */
.detailwrap { display: flex; gap: 6rem; }

.detailwrap .left {width: 30%;}
.detailwrap .fixed {position: sticky; top: 11rem;}
.detailwrap .fixed .box {width: 100%; border: 1px solid var(--c-black-6); border-radius: var(--radius-all-md); box-shadow: var(--box-shadow);}
.detailwrap .fixed .box .name {font-size: 1.75rem; padding: 3.5rem 2.5rem 1rem; font-weight: 400; color: var(--txt-color);}
.detailwrap .fixed .box .tag {display: flex; gap: 0.5rem; margin-top: 0.25rem; padding: 0 2.5rem; flex-wrap: wrap;}
.detailwrap .fixed .box .tag p {
  background: var(--bg-color-2);
  color: var(--txt-color);
  padding: 0.125rem 0.5rem;
  font-size: 0.925rem;
  border-radius: 6px;
}
.detailwrap .fixed .box .price {padding: 1rem 2.5rem 1.5rem;}
.detailwrap .fixed .box .price p {display: flex; justify-content: flex-end; gap: 0.5rem; align-items: baseline; font-size: 1rem; color: var(--txt-color-2); margin-top: 0.5rem;}
.detailwrap .fixed .box .price p .point {font-size: 1.25rem; color: var(--txt-color);}
.detailwrap .fixed .box .price .mainprice {font-size: 1.125rem; }
.detailwrap .fixed .box .price .mainprice .point {color: var(--main-color); font-size: 1.5rem;}
.detailwrap .fixed .box .starrating {border-top: 1px solid var(--c-black-6); display: flex; width: 100%; padding: 1.5rem 2.5rem 1.75rem; gap: 0.5rem;}
.detailwrap .fixed .btnArea {margin-top: 1.25rem; display: flex; gap: 0.75rem; justify-content: flex-end;}
.detailwrap .fixed .btnArea button {
  z-index: 1;
  right: 3vw;
  bottom: 10vh;
  padding: 1rem;
  background: #fff;
  color: var(--sub-color-4);
  border-radius: 100%;
  box-shadow: var(--box-shadow);
  transition: 0.3s;
}
.detailwrap .fixed .btnArea button .likeActive {color: var(--main-color);}
.detailwrap .fixed .btnArea .likebtn:hover {color: var(--main-color);}
.detailwrap .fixed .btnArea .reviewbtn:hover {color: var(--sub-color);}

.detailwrap .right {width: calc(100% - 6rem - 30%);}
.detailwrap .cont .tit {width: 100%; margin-bottom: 2rem;}
.detailwrap .cont .tit h3 {font-size: 1.5rem; font-weight: 500; color: var(--txt-color);}
.detailwrap .cont { padding: 2.5rem 0; border-bottom: 1px solid var(--c-black-6);}
.detailwrap .cont:last-child {border: 0;}
.detailwrap .cont p { color: var(--txt-color); font-size: 0.938rem; line-height: 1.6em;}
.detailwrap .detailLg {border: 0; padding: 0;}
.detailwrap .detailLg .img {width: 100%; overflow: hidden; aspect-ratio: 3/1.5;}
.detailwrap .detailLg .img img {width: 100%; height: 100%; object-fit: cover;}
.detailwrap .chartwrap {display: flex; gap: 2rem; flex-wrap: wrap;}
.detailwrap .chartwrap .tit {margin-bottom: 0.5rem;}
.detailwrap .chartwrap .chart {width: calc((100% - 2rem) / 2);}
.detailwrap .ratingwrap .ratings .rating {display: flex; flex-wrap: wrap; gap: 1rem; align-items: flex-start; margin-top: 1.25rem;}
.detailwrap .ratingwrap .ratings .rating:first-child {margin-top: 0;}
.detailwrap .ratingwrap .ratings .userImg .circle {width: 3rem; border-radius: 100%; aspect-ratio: 1/1; overflow: hidden;}
.detailwrap .ratingwrap .ratings .userImg .circle img {width: 100%; height: 100%; object-fit: cover;}
.detailwrap .ratingwrap .ratings .txt { display: flex; gap: 0.25rem; align-items: center; flex-wrap: wrap; width: calc(100% - 1rem - 3rem);}
.detailwrap .ratingwrap .ratings .txt .name {font-size: 1rem; font-weight: 500; color: var(--txt-color);}
.detailwrap .ratingwrap .ratings .txt .starrating .star span {font-size: 0.938rem;}
.detailwrap .ratingwrap .ratings .txt .review {width: 100%;}


/* 리뷰작성모달 */
.modalCont .starrating {margin-bottom: 1rem;}
.modalCont .starrating .star {display: flex; width: 100%; justify-content: center;}
.modalCont .starrating .star span {font-size: 2.5rem;}
.modalCont .reviewEdit {width: 100%; margin-top: 1rem;}
.modalCont .reviewEdit .editArea {width: 100%; margin-bottom: 1rem; min-height: 6rem;}
.modalCont .doublebutton {margin-top: 1rem; display: flex; flex-wrap: wrap; gap: 1rem; width: 100%;}
.modalCont .doublebutton a, .form .doublebutton button {width: calc((100% - 1rem) / 2);}


@media screen and (max-width:1024px) {
  .categorysection {gap: 2rem;}
  .categorysection .right {width: calc(100% - 20rem); }
  .itemlist {gap: 1.5rem;}
  .itemlist .item {width: calc((100% - 1.5rem) / 2);}
}


@media screen and (max-width:640px) {
  .categorysection {flex-wrap: wrap;}
  .categorysection .right {width: 100%; }
}