<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form th:action="@{/admin/subs/{subsId}/tag (subsId =${subsId})}" th:object="${form}" method="post">
        <div class="form-group">
            <label th:for="tagName">태그</label>
            <select name="tagName" id="tagName" class="form-control">
                <option value="">태그 선택</option>
                <option th:each="tag : ${tags}"
                        th:value="${tag.tagName}"
                        th:text="${tag.tagName}" />
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="subsTag : ${subsTags}">
                <td th:text="${subsTag.tagId}"></td>
                <td th:text="${subsTag.tagName}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>