<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <div>
                <a href="#" th:href="@{/admin/category/register}"
                   class="btn btn-primary" role="button">카테고리 등록</a>
            </div>
            <div>
                <a href="#" th:href="@{/admin/subs/register}"
                   class="btn btn-primary" role="button">구독서비스 등록</a>
            </div>
            <tr>
                <th>#</th>
                <th>카테고리</th>
                <th>이름</th>
            </tr>

            </thead>
            <tbody>
            <tr th:each="subs : ${subsList}">
                <td th:text="${subs.subsId}"></td>
                <td th:text="${subs.category.categoryName}"></td>
                <td th:text="${subs.subsName}"></td>
                <td>
                    <a href="#" th:href="@{/admin/subs/{subsId} (subsId =${subs.subsId})}"
                        class="btn btn-primary" role="button">상세 관리</a>
                </td>
                <td>
                    <a href="#" th:href="@{/admin/subs/{subsId}/tag (subsId =${subs.subsId})}"
                       class="btn btn-primary" role="button">태그 관리</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>